@model Portfolio.Models.SocialMedia

@{
    ViewBag.Title = "UpdateSocialMedia";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Sosyal Medya Hesabı Güncelleme</h2>
<form method="post">
    @Html.HiddenFor(x => x.SocialMediaID, new { @class = "form-control" })
    <label>Sosyal Medya URL</label>
    @Html.TextBoxFor(x => x.AccountURL, new { @class = "form-control" })
    <br />
    <label>İkon</label>
    @Html.TextBoxFor(x => x.Icon, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Verileri Güncelle</button>
</form>