@model Portfolio.Models.Award

@{
    ViewBag.Title = "AddAward";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Sertifika Ekleme Sayfası</h2>
<form method="post">
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <label>Resim</label>
    @Html.TextBoxFor(x => x.ImageURL, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>