@model List<Portfolio.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<h2>Kategori Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.CategoryName</td>
            <td><a href="#" onclick="return deleteCategory('@item.CategoryID')" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Category/UpdateCategory/@item.CategoryID" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Category/AddCategory/" class="btn btn-outline-primary">Yeni Kategori Ekle</a>

<script>
    function deleteCategory(id) {
        Swal.fire({
            title: 'Silmek istediğinize emin misiniz?',
            text: 'Bu öğeyi silerseniz geri alamazsınız!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sil',
            cancelButtonText: 'İptal'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Category/DeleteCategory?id=" + id;
            }
        });
    }
</script>